.banner__imagem {
/*Positioning stuff*/
    position: relative;
/*Box model stuff*/
    width: 100%;
    height: calc(100vh - 72px);
}

.banner__titulo {
/*Positioning stuff*/
    position: absolute;
    left: 50%;
    top: 50%;
/*Box model stuff*/
    width: 100%;
/*Typography stuff*/
    font-family: 'Pacifico', cursive;
    font-size: 5.0625rem;
    text-align: center;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    color: #fdfdfd;
/*Manipulations stuff*/
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
    .banner__titulo {
        font-size: 3rem;
    }

    .banner__imagem {
        height: calc(100vh - 51px);
    }
}