.sobre {
/*Box model stuff*/
    padding: 2.5em;
/*Typography stuff*/
    text-align: center;
}

.sobre__titulo {
/*Box model stuff*/
    padding: 0.5em 0 0.3em;
/*Typography stuff*/
    font-family: 'Pacifico', cursive;
    font-size: 3.1875em;
    color: #8D0606;
}

.sobre__subtitulo {
/*Typography stuff*/
    font-family: 'Roboto';
    font-size: 1.75em;
    font-weight: 300;
    color: #8C8888;
}

@media screen and (max-width: 768px) {
    .sobre {
        padding: 2.5rem 1rem;
    }

    .sobre__titulo {
        font-size: 2rem;
    }

    .sobre__subtitulo {
        font-size: 1.3rem;
    }
}